* {
    /* Bar measurement icons: https://github.com/and3rson/graph-bars-font */
    /* Icon set: https://fontawesome.com/v5.15/how-to-use/on-the-desktop/setup/getting-started */
    font-family: 'jetbrainsmono nerd font';
    font-size: 14px;
    color: #e9dcfa;
    font-weight: bold;
}

.bar {
    background: rgba(20, 28, 33, 0.0);
    border: 0px solid #727272;
    border-radius: 5px;
    padding-bottom: 5px;
}

.container-right .label {
  margin: 2px;
  border-radius: 15px
}

.container-left .label {
  margin : 2px;
  border-radius: 15px
}

.container-left .widget * {
  color: #e9dcfa;
  border-radius: 15px
}
.container-right .widget * {
  color: #e9dcfa;
  border-radius: 15px
}
.komorebi-workspaces {
  margin-left: 0;
}
.ws-btn {
    padding: 20px;
    color: #e9dcfa;
    background: rgba(17, 20, 43, 0.56);
    border: 2px solid rgb(126, 172, 197);
    margin: 1px 2px;
    font-size: 14px;
    border-radius: 14px;
}

.ws-btn:hover {
    color: #93ffc0;
    font-weight: bold;
}

.ws-btn.populated {
    border: 2px solid rgb(126, 172, 197);
    color: #e9dcfa;
    margin: 1px 2px;
}

.ws-btn.active {
    color: #ffffff;
    background: rgba(113, 92, 173, 0.726);
    margin: 1px 2px;
}

.custom-widget {
  color: #e9dcfa;
  font-size: 14px;
  background: rgba(17, 20, 43, 0.7);
  border: 2px solid rgb(126, 172, 197);
  border-radius: 13px;
  padding-bottom: -1px;
  margin: 0px 5px 0px 0px;
  padding-right: 8;
  padding-left: 8;
  padding-bottom: 1
}
.custom-widget .icon {
  font-size: 13px;
}
.custom-widget .label {
  margin: 0px 0px 0px 0px;
  margin-left: -1;
}
.custom-widget:hover {
  background: rgba(192, 192, 192, 0);
}
.custom-widget .icon.icon-left {
    margin-right: 0px;
}
.custom-widget .icon.icon-right {
    margin-left: 0px;
}
.custom-widget.hostname-widget {
    background: rgba(0, 0, 0, 0.0);
}

.custom-widget.terminal-widget {
    font-size: 14px;
}

.cpu-widget .label,
.wifi-widget .label,
.memory-widget .label,
.traffic-widget .label,
.battery-widget .label {
  color: #e9dcfa;
  font-size: 14px;
  background: rgba(17, 20, 43, 0.7);
  border: 2px solid rgb(126, 172, 197);
  border-radius: 13px;
  padding-bottom: -1px;
  margin: 0px 5px 0px 0px;
  padding-right: 8;
  padding-left: 8;
  padding-bottom: 1
}

.traffic-widget .label {
  background: rgba(17, 20, 43, 0.7);
}

.wifi-widget .label {
  background: rgba(17, 20, 43, 0.7);
  color: #e9dcfa;
}

.cpu-widget .label {
  background: rgba(17, 20, 43, 0.7);
  padding: 0px 0px 0 0px;
}

.battery-widget .label.status-critical {
  background: #fb4934;
}
.battery-widget .label.status-low {
  background: #fe8019;
}
.battery-widget .label.status-medium {
  background: #fabd2f;
}
.battery-widget .label.status-high {
  background: #b8bb26;
}
.battery-widget .label.status-full {
  background: #8ec07c;
}
.battery-widget .label.status-charging {
  background: #8ec07c;
}
.battery-widget,
.memory-widget {
  margin: 0;
}

.memory-widget .label {
  background: rgba(0, 0, 0, 0.0);
}
.active-window-widget {
  margin-left: 5px;
}
.active-window-widget .label {
  color: #e9dcfa;
  font-size: 13px;
  background: rgba(17, 20, 43, 0.7);
  border: 2px solid rgb(126, 172, 197);
  border-radius: 13px;
  margin: 0px 5px 0px 3px;
  padding-right: 8;
  padding-left: 8;
  padding-bottom: -1
}

.komorebi-active-layout .label {
  color: #9fa0d4;
  margin: -4px 2px 2px 8px;
  font-family: Hack;
}

.clock-widget .label {
  color: #e9dcfa;
  font-size: 14px;
  background: rgba(17, 20, 43, 0.7);
  border: 2px solid rgb(126, 172, 197);
  border-radius: 15px;
  padding-bottom: 0px;
  margin: 0px 5px 0px 0px;
  padding-right: 5;
  padding-left: 5
}
